* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.body {
  margin: 50px 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .container {
    margin: 10px;
    width: 100%;
    border: 0.1px solid rgba(128, 128, 128, 0.339);
    border-radius: 10px;
    max-width: 400px;
  }
  .social-media {
    display: absolute;
    bottom: 0;
  }
  .social-media div:nth-child(1) {
    border-radius: 0 0 0 10px;
    border: 0.1px solid rgba(128, 128, 128, 0.339);
    background-color: #ed8412;
  }
  .social-media div:nth-child(2) {
    border-radius: 0;
    border: 0.1px solid rgba(128, 128, 128, 0.339);
    background-color: #50c95e;
  }
  .social-media div:nth-child(3) {
    border-radius: 0 0 10px 0;
    border: 0.1px solid rgba(128, 128, 128, 0.339);
    background-color: #4d4d4d;
  }
  .social-img {
    height: 20px;
    margin: 5px 0;
    filter: invert(1);
  }
  .box-1 {
    width: 100%;
    height: 200px;
    border-radius: 7px 7px 0 0;
  }
  .instructions {
    display: none;
  }
  .box-3 {
    display: none;
  }
  .logo-web {
    display: none;
  }
  .box-2-5 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
  }
  .logo-mob {
    height: 30px;
  }
}
@media screen and (max-width: 300px) {
  .box-2-5 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .container {
    display: flex;
    width: 100%;
    max-width: 800px;
    border-radius: 7px;
    box-shadow: 4px 0px 10px -7px rgba(0, 0, 0, 0.494);
    border: 0.1px solid rgba(128, 128, 128, 0.339);
  }
  .box-1,
  .box-3 {
    width: 25%;
  }
  .box-1 {
    border-radius: 7px 0 0 7px;
  }
  .box-3 {
    margin: 16px 0;
  }
  .box-2 {
    width: 50%;
  }
  .social-media div:nth-child(1) {
    border-radius: 50px 0 0 50px;
    border: 0.1px solid rgba(128, 128, 128, 0.339);
    background-color: #ed8412;
  }
  .social-media div:nth-child(2) {
    border-radius: 0;
    border: 0.1px solid rgba(128, 128, 128, 0.339);
    background-color: #50c95e;
  }
  .social-media div:nth-child(3) {
    border-radius: 0 50px 50px 0;
    border: 0.1px solid rgba(128, 128, 128, 0.339);
    background-color: #4d4d4d;
  }
  .social-img {
    height: 20px;
    filter: invert(1);
  }
  .instructions2 {
    display: none;
  }
  .box-2-5 {
    display: none;
  }
  .social-media {
    margin: 10px 8% 10px 8%;
  }
  .logo-mob {
    display: none;
  }
}
.instructions {
  margin-left: 10px;
  font-size: 12px;
}
.instructions2 {
  margin: 10px 0;
  font-size: 12px;
}
.instructions img,
.instructions2 img {
  height: 8px;
}
.icon-div {
  padding: 4px 10px;
  border: 0.1px solid rgba(128, 128, 128, 0.339);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 2px 10px -7px rgba(0, 0, 0, 0.547);
}
.icon-div img {
  height: 14px;
}
.social-media {
  display: flex;
}
.social-media div {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 4px 15px;
}
.logo-web {
  height: 35px;
  margin-top: 16px;
}
.box-3 .border-div {
  border-left: 0.1px solid rgba(128, 128, 128, 0.339);
  padding: 0 10px;
}
.way,
.xway {
  display: flex;
  align-items: center;
}
.way {
  font-size: small;
}
.xway {
  font-size: xx-small;
}
.box-2-1 {
  padding: 4% 8%;
}
.safe-driver {
  font-size: larger;
  color: grey;
}
.icons-div {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
hr {
  margin: 0px 0;
  border: 0.1px solid rgba(128, 128, 128, 0.339);
}
.title-div {
  display: flex;
}
.mb-10 {
  margin-bottom: 10px;
}
.x-large {
  font-size: x-large;
}
.large {
  font-size: large;
}
.road {
  height: 10px;
  margin-right: 5px;
}
.flex-center {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.road-2 {
  height: 10px;
  margin-right: 5px;
}
